<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- 타임리프를 적용할 HTML문서에 네임스페이스 추가 -->
<head>
    <meta charset="UTF-8">
    <title>메인홈페이지</title>
</head>

<style>
a {
  text-decoration: none;
  color: inherit;
}

ul > li {
  display: inline-block;e
}

h1{
  margin-left: 40px;
}

.menubar_1 > ul {
  text-align: end;
}

.menubar_1{
  margin-top: -30px;
  margin-bottom: -20px;
  margin-right: 20px;
}

.menubar_2 > ul {
  background-color: #A8C2E2;
}

.menubar_2 > ul > li > a {
  display: block;
  padding: 20px;
  margin-right: 30px;
}

.menubar_2 > ul > li:hover > a {
  background-color: #C1D3EB;
  color: white;
}

.menubar_2{
   margin-top: 30px;
}
</style>

<body margin="0" bottommargin="0" leftmargin="0" rightmargin="0">
    <div class="menu">
        <h1><a th:href="@{/main}">또린 게시판</a></h1>
        <!-- nav 태그는 현재 웹 사이트에서 주요한 지점으로 이동할 수 있는 네비게이션 역할을 담당하고 있는 태그 -->
        <nav class="menubar_1">
            <ul>
                <li><a href="#">마이페이지</a></li> |
                <li><a href="#">로그인</a></li>
            </ul>
        </nav>

        <nav class="menubar_2">
            <ul>
                <li><a th:href="@{/main}">메인</a></li>
                <li><a href="#">자유 게시판</a></li>
                <li><a href="#">학업 게사판</a></li>
                <li><a href="#">취업 게시판</a></li>
                <li><a href="#">시사·이슈 게시판</a></li>
            </ul>
        </nav>
        
        <img src="C:\Users\0\Desktop\배너사진.PNG" alt="나와라잇!"/>
    </div>
</body>
</html>